/* reset rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* text */
body {
    font-family: Arial, sans-serif;
}

/* color background */
.bg_black {
    background-color: #000;
}

.bg_dgrey {
    background-color: #363636;
}

/* color text */
.twhite {
    color: #fff;
}
.tlblue {
    color: #318DD7;
}
.tgrey {
    color: #818181;;
}