/* reset rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* text */
body {
    font-family: Arial, sans-serif;
}

/* color background */
.bg_black {
    background-color: #000;
}
.bg_dgrey {
    background-color: #363636;
}
.bg_red {
    background-color: #CD3D0F;
}
.bg_blue {
    background-color: #2D64E6;
}
.bg_dark {
    background-color: #1f1f1f;
}

/* color text */
.twhite {
    color: #fff;
}
.tlblue {
    color: #318DD7;
}
.tgrey {
    color: #818181;;
}