/* utility */
.banner {
    padding-top: 18rem;
    padding-left: 3rem;
}



/* button style */
#button {
    color: #fff;
    border-radius: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/************
header  
*************/
header {
    z-index: 10;
    text-align: end;
    padding: 0.3rem 0;
}
header > h1 {
    font-size: 1.5rem;
}

.fixed_nav {
    position: fixed;
    width: 100%;
}

body {
    height: 10000px;
}

/*****************
main  
*****************/
main {
    margin-top: 120px;
}

/* jumbo */
.hero_banner {
    background-image: url(../img/jumbo-bg.png);
    height: 675px;
    background-repeat: no-repeat;
    background-position: center;
}
.hero_banner a {
    background-color: #CD3D0F;
}
.hero_banner p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.presentation > img {
    width: 50%;
}
.presentation > h1 {
    margin: 2.5rem 0;
}

@media and screen (max-width: 991.98px) {
    .presentation {
        width: 200%
    }
    
}

/* selection */
.mini {
    width: calc(100% / 6);
    padding: .3rem;
    margin: 0auto;
}
.mini img {
    width: 100%;
    border-radius: 1rem;
}

.selected {
    border: 2px solid #318DD7;
    border-radius: 1rem;
}